/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  position: relative
}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

input:checked ~ .dot {
  transform: translateX(100%);
}

input:checked ~ .block {
  background-color: black;
}

.switch {
  -webkit-tap-highlight-color: none
  }